.content{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 459px;

}

.Funfacts{
    color: #FFF;
    display: block;
    font-size: 39.06px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.953px;
    padding-left: 27px;
}

.points{
    padding-left: 74px;
}

.react-logo2{
    display: flex;
    width: 263px;
    height: 263px;
    padding: 20.132px 5.609px 20.126px 5.62px;
    justify-content: center;
    align-items: center;
    opacity: 0.1;
    margin-left: 418px;
    padding-top: 107px;
    padding-bottom: 68px ;
}